<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567672693811-ndi4pt1c335p9fuef4aq7v035u6p00g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567672693811-ndi4pt1c335p9fuef4aq7v035u6p00g0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMi-3dMvNrilbCog7D6ilfC34yhJEInQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>567672693811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mental-health-52b06</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-52b06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567672693811:ios:7452aedb8c296bb96baf46</string>
</dict>
</plist>